<article class="post">
  <h2>{{post.title}}</h2>
  <div class="post-type">
    <span>Category:</span> {{post.category}} - {{post.tags}} <em>{{post.updatedAt}}</em>
  </div>

  <div class="paragraphs">
    <div class="row">
      <div class="span4">
        <img style="float:left" src={{post.image}} height="100" width="100">
        <div class="content-heading">{{post-content-shorten post.content}}</div>
      </div>
    </div>
  </div>
</article>
{{yield}}
