<div class="post">
  <h3>{{post.title}}</h3>
  <div class="post-type">
    <span>Category:</span> {{post.category}} - {{post.tags}}
  </div>
  <div class="post-date">
    <span>Date:</span> {{post.updatedAt}}
  </div>
  <div class="post-tags">

  </div>
  <div class="post-content">
    {{post-content-shorten post.content}} ...
  </div>
</div>
{{yield}}
