<article class="post-list">
  <h3 class="post-title"><em>{{post-text-shorten post.title "title"}}</em></h3>
  <div class="post-info">
    <em class="post-info-sec">{{post.updatedAt}} </em>
    <span class="post-info-sec">Author: </span>
    {{post.author}}
    <span class="post-info-sec">Category: </span>
    {{post.category}} - {{post.tags}}
  </div>

  <div class="post-content">
    <div class="row">
      <img src={{post.image}}>
      <div class="content-short col-md-10">{{post-text-shorten post.content "content"}} ...</div>
    </div>
  </div>
</article>
{{yield}}
