<div class="post">
  <h3>{{post.title}}</h3>
  <div class="post-type">
    <span>Type:</span> {{post.type}}
  </div>
  <div class="post-date">
    <span>Date:</span> {{post.date}}
  </div>
  <div class="post-description">
    <span>description:</span> {{post.description}}
  </div>
</div>
{{yield}}
