<form class="new-post-form" {{action "postPost" model on="submit"}}>
  <div class="form-group row">
    <div class="col-md-8 form">
      {{input value=model.title type="text" class="form-control meta" placeholder="Title" required=true}}

      <div class="row">
        <div class="col-md-8">
          {{input value=model.author type="text" class="form-control meta" placeholder="Author: Ms. Coding" required=true}}
        </div>
        <div class="dropdown col-md-4">
          <button class="btn btn-default dropdown-toggle form-control meta" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{#if model.category}}
              Category: <strong>{{model.category}}</strong>
            {{else}}
              Category
              <span class="caret"></span>
            {{/if}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li {{action "categoryChange" "coding"}}><a href="#">Coding</a></li>
            <li {{action "categoryChange" "financial"}}><a href="#">Financial</a></li>
          </ul>
        </div>
      </div>

      {{input value=model.tags type="text" class="form-control meta" placeholder="Tags: phylosophy" required=true}}
    </div>
    <div class="col-md-4">
      <label>Image</label>
      {{input value=model.image type="text" class="form-control" placeholder="Image url"}}
      {{file-uploader route="newPost" fileAction="fileAction" status=status messageSendSucceed="messageSendSucceed"}}
    </div>
  </div>

  <div class="form-group">
    <label>Content</label>
    {{textarea value=model.content class="form-control content" required=true}}
  </div>
  <button type="submit" class="btn btn-lg col-md-12 btn-success submit">Submit</button>
</form>

<p id="statusMessage">
  {{#if status.success}}
    <p class="alert alert-success fade in">Successfully submitted message. MsCoding will be in contact in no time!</p>
  {{else}}
    {{#if status.fail}}
    <p class="alert alert-warning fade in">Sorry, something went wrong!</p>
    {{/if}}
  {{/if}}
</p>
