<div class="home">
  <div class="input-group search-articles">
    {{input type="text" value=search class="form-control" placeholder="Search title / author / category"}}
    <span class="input-group-btn">
      <button class="btn btn-danger" type="button">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </span>
  </div>

  <div class="search-clicks">
    Quick search:
    <span class="search-click-item" {{action "setSearchQuery" "financial"}}>financial</span>
    <span class="search-click-item" {{action "setSearchQuery" "coding"}}>coding</span>
    <span class="search-click-item clear-all" {{action "setSearchQuery" ""}}>clear all</span>
  </div>

  <div class="posts">
    {{post-list posts=model}}
  </div>
</div>
{{outlet}}
