<div class='post'>
  <h1 class="post-title"><em>{{model.title}}</em></h1>
  <div class="post-info row">
    <em class="post-info-sec col-md-3">{{date-formatter model.updatedAt}} </em>
    <span class="post-info-sec col-md-2">Author: {{model.author}}</span>
    <span class="post-info-sec col-md-1"><i class="fa fa-comments" aria-hidden="true"></i>: {{model.comments.length}}</span>
    <span class="post-info-sec col-md-6">Category: {{model.category}} - {{model.tags}}</span>
  </div>

  <div class="post-content">
    <div class="row">
      <img src={{model.image}} class="col-md-2">
      <div class="content-short col-md-10">{{post-content-formatter model.content}}</div>
    </div>
  </div>

  <p class="comments-divider">Comments</p>
  <form class="comment-form"  {{action "submitComment" model on="submit"}}>
    <div class="form-group comment-input">
      {{textarea value=comment class="form-control" placeholder="Leave your comment here ..." required=true}}
    </div>
    <div class="form-group form-inline commentter-info">
      {{input value=name type="text" class="form-control comment-input" placeholder="name" required=true}}
      {{input value=email type="email" class="form-control comment-input" placeholder="email" required=true}}
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>

  {{comment-list comments=model.comments}}
</div>

{{outlet}}
