<div class="messages">
  <ul class="nav nav-tabs">
    <li {{action "getMessageWithQuery" "false"}} id="unread" class={{if (eq active "unread") "active"}}>
      <a>
        Unread <span class="message-count">{{if (eq active "unread") model.length}}</span>
      </a>
    </li>
    <li {{action "getMessageWithQuery" "true"}} id="read" class={{if (eq active "read") "active"}}>
      <a>
        Read <span class="message-count">{{if (eq active "read") model.length}}</span>
      </a>
    </li>
    <li {{action "getMessageWithQuery" "all"}} id="all" class={{if (eq active "all") "active"}}>
      <a>
        All <span class="message-count">{{if (eq active "all") model.length}}</span>
      </a>
    </li>
  </ul>
  {{#each model as |message|}}
    <div class="message" data-toggle="collapse" data-target="#message{{message.id}}" aria-expanded="false">

      <div class="comment-info-sec">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <span class="messager-name"><strong>{{message.name}}</strong></span>
        <span>—</span>
        <span>{{date-formatter message.createdAt}}</span>
      </div>

      <div class="row message-details collapse" id="message{{message.id}}">
        <div class="col-md-6">
          <div>{{message.message}}</div>
          <button class="btn btn-warning btn-sm" type="button"{{action "readMessage" message}}>
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-md-6">
          {{message.file}}
        </div>
      </div>

      <div>{{message.read}}</div>
    </div>
  {{/each}}
</div>
{{outlet}}
